.container {
  margin: 15px;
}

.filterText {
  margin-bottom: 0;
}

.filterText {
  font-size: 14px;
  line-height: 1;
}

.filterInput {
  border: 1px solid rgb(183, 183, 183);
  border-radius: 2px;
  width: 287px;
  margin-top: 0;
}
